.alienInvader {
  border-radius: 40%;
  content: url("./assets/images/alien.jpg");
}

.shooter {
  border-radius: 40%;
  content: url("./assets/images/ship.jpg");
}

.bullet {
  border-radius: 40%;
  content: url("./assets/images/bullet.jpg");
}