
.alienInvader{
    border-radius: 40%;
    content: url("./alien.jpg");
}

.shooter{
    border-radius: 40%;
    content: url("./ship.jpg");
}
.bullet{
    border-radius: 40%;
    content: url("./bullet.jpg");
    
}